.dischargeContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

.dischargeTopSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.dischargeBottomSection {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    width: 100%;
    margin-top: 20px;
}

.dischargeTitle {
    font-size: 4rem;
    font-weight: 600;
    margin-top: 130px;
}

@media only screen and (max-width: 800px) {
    .dischargeTitle {
        font-size: 3rem;
        font-weight: 600;
        margin-top: 0;
    }
}

.dischargeQuestionInput {
    max-width: 800px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.dischargeAnswerContainer {
    max-width: 800px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.dischargeAnalysisPanel {
    width: 600px;
    margin-left: 20px;
}

.dischargeSettingsSeparator {
    margin-top: 15px;
}

.settingsButton {
    align-self: flex-end;
    margin-right: 20px;
    margin-top: 20px;
}

.dischargeInput {
    position: sticky;
    bottom: 0;
    flex: 0 0 100px;
    padding-top: 12px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
    width: 100%;
    max-width: 1028px;
    background: #f2f2f2;
}

