.patientCodeInputContainer {
    border-radius: 8px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.14), 0px 0px 2px rgba(0, 0, 0, 0.12);
    height: 35px;
    width: 500px;
    padding: 0px 15px;
    background: white;
    margin-bottom: 10px;
}

.patientCodeInputTextArea {
    width: 100%;
    line-height: 10px;
    background: white;
}

.patientCodeInputButtonsContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.patientCodeInputSendButton {
    cursor: pointer;
}

.patientCodeInputSendButtonDisabled {
    opacity: 0.4;
}

.patientNameTitle {
    font-size: 2rem;
    font-weight: 100;
    margin-top: 0;
    margin-bottom: 30px;
}

.patientName {
    font-size: 2rem;
    font-weight: 100;
    margin-top: 0;
    margin-bottom: 30px;
}
